[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "canaan-burn/3rdparty/sanitizers-cmake"]
	path = canaan-burn/3rdparty/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "canaan-burn/3rdparty/dfu"]
	path = canaan-burn/3rdparty/dfu
	url = git@g.a-bug.org:xiaenling/dfu-util.git
