<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Basic Application Information -->
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIdentifier</key>
    <string>io.canaan.burningtool</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>

    <!-- Application Appearance -->
    <key>NSRequiresAquaSystemAppearance</key>
    <true/>

    <!-- Application Icon -->
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>

    <!-- macOS Specific Settings -->
    <key>LSMinimumSystemVersion</key>
    <string>${MACOSX_DEPLOYMENT_TARGET}</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025 Canaan Inc. All rights reserved.</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <key>NSUSBDevicesUsageDescription</key>
    <string>This app requires access to USB devices for device programming.</string>

</dict>
</plist>
